.nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  display: inline-flex;

  color: #3e79c4;
  font-size: 0.5 rem;
  padding: 8px 0;

  img {
    transform: rotate(90deg);
    margin-right: 5px;
  }
}

.nav__btn {
  padding: 8px 12px;
  border: 1px solid #c94b15;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  cursor: pointer;
  font-size: 1.1rem;
  margin-top: 2px;

  h6 {
    margin-left: 6px;
  }

  .bar {
    width: 25px;
    height: 1px;
    background-color: #c94b15;
    margin: 3px 0px;
  }

  &:hover {
    background-color: #3e79c4;
  }
}

.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  background: white;
  height: 100%;
  box-shadow: 2px 2px 30px rgb(204, 204, 204);
  overflow: scroll;
  transition: all 0.7s ease;
  transform: translate(-100%);
  opacity: 0;
  z-index: 999;

  h4 {
    padding: 1rem 2rem;
    color: #000000;
    background-color: #655ceb;
    cursor: pointer;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }
  h4:hover {
    background-color: rgba($color: #c76d46, $alpha: 0.8);
  }

  &--active {
    transform: translateX(0%);
    opacity: 1;
  }
}

.librarySong {
  display: flex;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  cursor: pointer;
  border-top: 1px solid #3e79c4;

  img {
    width: 45px;
    height: 45px;
  }
  &:hover {
    background: rgb(222, 222, 255);
  }
}

.librarySong_info {
  padding-left: 1rem;

  h5 {
    font-size: 0.8rem;
    padding-bottom: 5px;
  }
  h6 {
    font-size: 0.6rem;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}
*::-webkit-scrollbar {
  display: none;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

.library__arrow {
  width: 20px;
  height: 20px;
  margin-left: 20px;
}

.selected {
  background: rgb(165, 181, 228);
}
.active-library {
  transform: translateX(0%);
  opacity: 1;
}

@media screen and (max-width: 668px) {
  .library {
    width: 100%;
  }
}
