.song__display {
  img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
  }
  text-align: center;
}

.song__name {
  text-align: center;
  padding-top: 90px;
  h4 {
    padding: 5px 0;
    font-size: 0.9rem;
  }

  h6 {
    padding: 5px 0;
    font-size: 0.6rem;
  }
}

@media only screen and (max-width: 668px) {
  .song {
    padding-top: 50px;
    margin-bottom: 20px;
  }
}
