.song__cover {
  text-align: center;
}

.cover {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;

  &--spin {
    animation-name: spin;
    animation-duration: 100000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.song__name {
  text-align: center;
  padding-top: 90px;
  h4 {
    padding: 5px 0;
    font-size: 1.1rem;
  }

  h6 {
    padding: 5px 0;
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 668px) {
  .song {
    padding-top: 50px;
    margin-bottom: 20px;
  }
}
