@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Wallpoet&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #bad2ef;
  color: #000000;
  font-family: 'Audiowide', cursive;
  overflow: hidden;
}

.app {
  height: 100vh;
}

.fiber {
  width: 100vw;
  position: fixed;
  top: 130px;
  z-index: -1;
}

@import './library';
@import './song';
@import './player';
